<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<!-- Meanmenu JS -->
<!-- Nice Select JS -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JS -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Odometer JS -->
<script src="/assets/js/odometer.min.js"></script>
<!-- Jquery Appear JS -->
<script src="/assets/js/jquery.appear.min.js"></script>
<!-- Ajaxchimp JS -->
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="/assets/js/contact-form-script.js"></script>
<!-- Wow JS -->
<script src="/assets/js/wow.min.js"></script>
<!-- Custom JS -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/popper.min.js"></script>
   
</body>
</html>